@charset "UTF-8";
.nj-desktop {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
}
.nj-desktop .nj-desktop-top {
  z-index: 2;
}
.nj-desktop .nj-desktop-window-container {
  position: relative;
  flex: 1 1 0;
  overflow: hidden;
  z-index: 1;
}

.nj-desktop .nj-window {
  position: absolute;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.nj-desktop .nj-window .nj-menu-container {
  z-index: 4;
}
.nj-desktop .nj-window .nj-toolbar-container {
  z-index: 3;
}
.nj-desktop .nj-window .nj-window-content {
  z-index: 1;
  flex: 1 1 0;
  overflow: auto;
}
.nj-desktop .nj-window.nj-maximized {
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
  transform: none !important;
}
.nj-desktop .nj-window.nj-minimized {
  top: 100vh !important;
  left: 0 !important;
  width: 0 !important;
  height: 0 !important;
  overflow: hidden !important;
  transform: none !important;
}
.nj-desktop .nj-window .nj-toolbar-container {
  flex: 0 0 auto;
}

.nj-desktop .nj-window .nj-window-header {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: space-between;
  user-select: none;
}
.nj-desktop .nj-window .nj-window-header .nj-window-header-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1 1 0;
  overflow: hidden;
}

.nj-desktop .nj-window .nj-window-header .nj-window-header-buttons {
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
}
.nj-desktop .nj-window .nj-window-header .nj-window-header-buttons .nj-window-header-button {
  display: block;
}
.nj-desktop .nj-window .nj-window-header .nj-window-header-buttons .nj-window-header-button.nj-hidden {
  display: none;
}

.nj-desktop .nj-taskbar {
  z-index: 2;
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  height: 30px;
}
.nj-desktop .nj-taskbar .nj-toolbar {
  flex: 0 0 auto;
  display: flex;
}
.nj-desktop .nj-taskbar .nj-taskbar-button-list {
  flex: 1 1 0;
  position: relative;
  min-width: 0;
}
.nj-desktop .nj-taskbar .nj-taskbar-button-list .nj-taskbar-button-list-nav {
  flex: 0 0 30px;
  height: 30px;
  width: 30px;
  position: absolute;
}
.nj-desktop .nj-taskbar .nj-taskbar-button-list .nj-taskbar-button-list-nav.nj-taskbar-button-list-nav-left {
  left: 0;
  top: 0;
}
.nj-desktop .nj-taskbar .nj-taskbar-button-list .nj-taskbar-button-list-nav.nj-taskbar-button-list-nav-right {
  right: 0;
  top: 0;
}
.nj-desktop .nj-taskbar .nj-taskbar-button-list .nj-taskbar-button-list-container {
  margin: 0 30px;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  width: calc(100% - 60px);
}
.nj-desktop .nj-taskbar .nj-taskbar-button-list .nj-taskbar-button-list-container button {
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nj-desktop .nj-toolbar .nj-tool-button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
  user-select: none;
}
.nj-desktop .nj-toolbar .nj-tool-button.nj-toolbutton-icon {
  background-position: center center;
  background-repeat: no-repeat;
}

.nj-menu button {
  position: relative;
}
.nj-menu button .nj-menu-icon {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  background-position: center center;
  background-repeat: no-repeat;
}
.nj-menu button .nj-menu-text {
  display: block;
}
.nj-menu button.text .nj-menu-icon {
  display: none;
}
.nj-menu > .nj-menu-item {
  display: inline-block;
  position: relative;
}
.nj-menu > .nj-menu-item > button {
  display: block;
  white-space: nowrap;
}
.nj-menu > .nj-menu-item .nj-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
}
.nj-menu > .nj-menu-item .nj-menu .nj-menu-item {
  display: block;
  position: relative;
}
.nj-menu > .nj-menu-item .nj-menu .nj-menu-item > button {
  display: block;
  min-width: 150px;
  white-space: nowrap;
  text-align: left;
}
.nj-menu > .nj-menu-item .nj-menu .nj-menu-item.has-children > button {
  position: relative;
}
.nj-menu > .nj-menu-item .nj-menu .nj-menu-item.has-children > button:after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  text-align: center;
  content: "▶";
}
.nj-menu > .nj-menu-item .nj-menu .nj-menu-item .nj-menu {
  position: absolute;
  left: 100%;
  top: 0;
  display: none;
}
.nj-menu > .nj-menu-item .nj-menu .nj-menu-item.low .nj-menu {
  top: auto;
  bottom: 0;
}
.nj-menu > .nj-menu-item .nj-menu .nj-menu-item:hover .nj-menu {
  display: block;
}
.nj-menu > .nj-menu-item.low > .nj-menu {
  top: auto;
  bottom: 100%;
}
.nj-menu > .nj-menu-item:hover .nj-menu {
  display: block;
}

.nj-toolbar .nj-menu {
  display: inline-block;
}

.nj-desktop .nj-icon-list {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-content: flex-start;
}
.nj-desktop .nj-icon-list.horizontal {
  flex-direction: column;
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: wrap;
}
.nj-desktop .nj-icon-list.vertical {
  flex-direction: row;
  overflow: auto;
  flex-wrap: wrap;
}
.nj-desktop .nj-icon-list.nj-prevent-scroll {
  overflow: hidden;
}
.nj-desktop .nj-icon-list .nj-icon {
  box-sizing: border-box;
  margin: 5px;
  user-select: none;
  display: flex;
  flex-direction: column;
  padding: 0 10px 10px 10px;
}
.nj-desktop .nj-icon-list .nj-icon .tile-info {
  display: none;
}
.nj-desktop .nj-icon-list .nj-icon .nj-icon-picture {
  flex: 0 0 150px;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
}
.nj-desktop .nj-icon-list .nj-icon .nj-icon-text {
  display: flex;
  flex: 0 0 auto;
  text-align: center;
  justify-content: space-around;
  margin-left: -10px;
  margin-right: -10px;
}
.nj-desktop .nj-icon-list.nj-xl .nj-icon {
  width: 170px;
  height: 210px;
}
.nj-desktop .nj-icon-list.nj-xl .nj-icon .nj-icon-picture {
  flex-basis: 150px;
}
.nj-desktop .nj-icon-list.nj-l .nj-icon {
  width: 147px;
  height: 160px;
}
.nj-desktop .nj-icon-list.nj-l .nj-icon .nj-icon-picture {
  flex-basis: 127px;
}
.nj-desktop .nj-icon-list.nj-m .nj-icon {
  width: 84px;
  height: 106px;
}
.nj-desktop .nj-icon-list.nj-m .nj-icon .nj-icon-picture {
  flex-basis: 64px;
}
.nj-desktop .nj-icon-list.nj-s .nj-icon {
  width: 52px;
  height: 58px;
}
.nj-desktop .nj-icon-list.nj-s .nj-icon .nj-icon-picture {
  flex-basis: 32px;
}
.nj-desktop .nj-icon-list.nj-tile .nj-icon {
  width: 200px;
  height: 68px;
  flex-direction: row;
  padding: 10px;
}
.nj-desktop .nj-icon-list.nj-tile .nj-icon .tile-info {
  display: block;
}
.nj-desktop .nj-icon-list.nj-tile .nj-icon .nj-icon-picture {
  flex: 0 0 48px;
}
.nj-desktop .nj-icon-list.nj-tile .nj-icon .nj-icon-text {
  flex: 1 1 0;
  margin-left: 10px;
  align-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.nj-desktop .nj-window .nj-window-content .nj-icon-list {
  position: static;
}

.nj-desktop {
  background-color: #00bbcc;
  overflow: hidden;
}
.nj-desktop .nj-desktop-top {
  background-color: #cccccc;
  border-bottom: 2px outset;
}
.nj-desktop .nj-window {
  border: 2px outset;
  background-color: #cccccc;
  color: #000;
  padding: 2px;
  font-family: arial, helvetica, sans-serif;
  font-size: 14px;
  transition: left 0.1s ease-out, top 0.1s ease-out, width 0.1s ease-out, height 0.1s ease-out, bottom 0.1s ease-out, transform 0.1s ease-in;
}
.nj-desktop .nj-window.nj-maximized {
  transition: left 0.1s ease-in, top 0.1s ease-in, width 0.1s ease-in, height 0.1s ease-in, transform 0.1s ease-in;
  border: 0 none transparent;
}
.nj-desktop .nj-window.nj-minimized {
  transition: left 0.1s ease-in, top 0.1s ease-in, bottom 0.1s ease-in, width 0.1s ease-in, height 0.1s ease-in, transform 0.1s ease-in;
}
.nj-desktop .nj-window.moving {
  transition: left 0.1s ease-out, top 0.1s ease-out, width 0.1s ease-out, height 0.1s ease-out, bottom 0.1s ease-out;
}
.nj-desktop .nj-window.resizing {
  transition: none;
}
.nj-desktop .nj-window .nj-window-content {
  border: 2px inset;
  background-color: #fff;
}
.nj-desktop .nj-window.nj-dialog .nj-window-content {
  border: 0 none transparent;
  background-color: transparent;
}
.nj-desktop .nj-window .nj-window-header {
  background-color: #999999;
  color: #fff;
  padding: 2px;
}
.nj-desktop .nj-window .nj-window-header .nj-window-header-buttons .nj-window-header-button {
  border: 1px outset;
  position: relative;
  width: 18px;
  height: 18px;
  background-color: #cccccc;
  color: #000;
}
.nj-desktop .nj-window .nj-window-header .nj-window-header-buttons .nj-window-header-button:active {
  border: 1px inset;
}
.nj-desktop .nj-window .nj-window-header .nj-window-header-buttons .nj-window-header-button.nj-minimize::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 3px;
  left: 3px;
  border-bottom: 2px solid #000;
  width: 10px;
}
.nj-desktop .nj-window .nj-window-header .nj-window-header-buttons .nj-window-header-button.nj-maximize::after {
  content: "";
  position: absolute;
  display: block;
  top: 2px;
  left: 2px;
  border: 1px solid #000;
  border-top: 2px solid #000;
  width: 10px;
  height: 10px;
}
.nj-desktop .nj-window .nj-window-header .nj-window-header-buttons .nj-window-header-button.nj-restore::before {
  content: "";
  position: absolute;
  display: block;
  top: 2px;
  left: 2px;
  border: 1px solid #000;
  border-top: 2px solid #000;
  width: 5px;
  height: 5px;
}
.nj-desktop .nj-window .nj-window-header .nj-window-header-buttons .nj-window-header-button.nj-restore::after {
  content: "";
  position: absolute;
  display: block;
  top: 6px;
  left: 6px;
  border: 1px solid #000;
  border-top: 2px solid #000;
  width: 5px;
  height: 5px;
}
.nj-desktop .nj-window .nj-window-header .nj-window-header-buttons .nj-window-header-button.nj-close {
  margin-left: 2px;
}
.nj-desktop .nj-window .nj-window-header .nj-window-header-buttons .nj-window-header-button.nj-close::before {
  left: 1px;
  top: 7px;
  position: absolute;
  display: block;
  content: "";
  height: 0;
  border-radius: 1px;
  border-top: 2px solid #000;
  width: 14px;
  transform: rotate(-45deg);
}
.nj-desktop .nj-window .nj-window-header .nj-window-header-buttons .nj-window-header-button.nj-close::after {
  left: 1px;
  top: 7px;
  position: absolute;
  display: block;
  content: "";
  height: 0;
  border-radius: 1px;
  border-top: 2px solid #000;
  width: 14px;
  transform: rotate(45deg);
}
.nj-desktop .nj-window.focused .nj-window-header {
  background-color: #0000ff;
}
.nj-desktop .nj-taskbar {
  background-color: #cccccc;
  border-top: 2px outset;
}
.nj-desktop .nj-taskbar .nj-toolbar {
  border-right: 1px outset;
}
.nj-desktop .nj-taskbar .nj-taskbar-button-list {
  border-left: 1px outset;
}
.nj-desktop .nj-taskbar .nj-taskbar-button-list .nj-taskbar-button-list-nav {
  border: 1px solid transparent;
}
.nj-desktop .nj-taskbar .nj-taskbar-button-list .nj-taskbar-button-list-nav:hover {
  border: 1px outset;
}
.nj-desktop .nj-taskbar .nj-taskbar-button-list .nj-taskbar-button-list-nav:active {
  border: 1px inset;
}
.nj-desktop .nj-taskbar .nj-taskbar-button-list .nj-taskbar-button-list-nav.nj-taskbar-button-list-nav-left:before {
  content: "<";
}
.nj-desktop .nj-taskbar .nj-taskbar-button-list .nj-taskbar-button-list-nav.nj-taskbar-button-list-nav-right:before {
  content: ">";
}
.nj-desktop .nj-taskbar .nj-taskbar-button-list .nj-taskbar-button-list-container button {
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 2px outset;
}
.nj-desktop .nj-taskbar .nj-taskbar-button-list .nj-taskbar-button-list-container button.focused {
  border: 2px inset;
  background-color: #999999;
  color: #000000;
}
.nj-desktop .nj-taskbar .nj-taskbar-button-list .nj-taskbar-button-list-container button:active {
  border: 2px inset;
  background-color: inherit;
}
.nj-desktop .nj-toolbar {
  min-height: 30px;
}
.nj-desktop .nj-toolbar .nj-tool-button {
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid transparent;
  height: 30px;
}
.nj-desktop .nj-toolbar .nj-tool-button.nj-tool-button-text {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.nj-desktop .nj-toolbar .nj-tool-button.nj-toolbutton-icon {
  width: 30px;
  height: 30px;
  background-size: 24px 24px;
  color: transparent;
}
.nj-desktop .nj-toolbar .nj-tool-button:hover {
  border: 1px outset;
}
.nj-desktop .nj-toolbar .nj-tool-button:active {
  border: 1px inset;
  background-color: inherit;
}
.nj-desktop .nj-menu button {
  padding-left: 30px;
}
.nj-desktop .nj-menu button .nj-menu-icon {
  background-size: 24px 24px;
}
.nj-desktop .nj-menu button.text {
  padding-left: 5px;
  padding-right: 5px;
}
.nj-desktop .nj-menu button.has-children {
  padding-right: 30px;
}
.nj-desktop .nj-menu button.icon-only {
  width: 30px;
  overflow: hidden;
  padding-left: 25px;
}
.nj-desktop .nj-menu button.icon-only .nj-menu-icon {
  margin-right: 0 !important;
}
.nj-desktop .nj-menu button.icon-only .nj-menu-text {
  visibility: hidden;
}
.nj-desktop .nj-menu > .nj-menu-item {
  height: 30px;
}
.nj-desktop .nj-menu > .nj-menu-item > button {
  border: 1px solid transparent;
  height: 30px;
}
.nj-desktop .nj-menu > .nj-menu-item > button .nj-menu-icon {
  width: 28px;
  height: 28px;
  margin-right: 5px;
}
.nj-desktop .nj-menu > .nj-menu-item > button:active {
  border: 1px inset;
}
.nj-desktop .nj-menu > .nj-menu-item:hover > button {
  border: 1px outset;
}
.nj-desktop .nj-menu > .nj-menu-item .nj-menu {
  border: 1px outset;
}
.nj-desktop .nj-menu > .nj-menu-item .nj-menu .nj-menu-item .nj-menu-icon {
  width: 28px;
  height: 28px;
  margin-right: 5px;
}
.nj-desktop .nj-menu > .nj-menu-item .nj-menu .nj-menu-item > button:active {
  border: 1px inset;
}
.nj-desktop .nj-menu > .nj-menu-item .nj-menu .nj-menu-item.has-children > button:after {
  width: 28px;
  height: 28px;
  line-height: 28px;
}
.nj-desktop .nj-menu > .nj-menu-item .nj-menu .nj-menu-item:hover > button {
  border: 1px outset;
  background-color: #0000ff;
  color: #ffffff;
}
.nj-desktop .nj-menu > .nj-menu-item .nj-menu .nj-menu-item .nj-menu {
  border: 1px outset;
}
.nj-desktop .nj-icon-list {
  font-family: arial, helvetica, sans-serif;
  font-size: 14px;
}
.nj-desktop .nj-icon-list .nj-icon .nj-icon-text .tile-info {
  font-size: 12px;
  color: #787878;
}
.nj-desktop .nj-icon-list .nj-icon.nj-selected .nj-icon-text {
  outline: 1px dotted #000;
  background-color: #0000ff;
  color: #ffffff;
}
.nj-desktop .nj-icon-list .nj-icon.nj-selected .nj-icon-text .tile-info {
  color: rgba(255, 255, 255, 0.6);
}

.nj-desktop.redmond7 {
  background-color: rgb(65, 124, 156);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}
.nj-desktop.redmond7 .nj-desktop-top {
  background-color: rgba(0, 0, 0, 0.5);
  color: #000000;
  text-shadow: 0 0 1px #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}
.nj-desktop.redmond7 .nj-desktop-top .nj-menu > .nj-menu-item {
  border: 0 none transparent;
}
.nj-desktop.redmond7 .nj-desktop-top .nj-menu > .nj-menu-item > button {
  text-shadow: 0 0 3px #ffffff;
  border-radius: 3px;
}
.nj-desktop.redmond7 .nj-window {
  opacity: 0.8;
  padding: 5px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.8) 30px, rgba(255, 255, 255, 0.6) 100%);
  background-color: transparent;
  color: #000;
  border-radius: 5px;
  border: 0 none transparent;
  box-shadow: 0 0 5px #000;
}
.nj-desktop.redmond7 .nj-window.nj-maximized {
  border-radius: 0;
}
.nj-desktop.redmond7 .nj-window .nj-window-content {
  border: 1px solid #999999;
  border-radius: 2px;
}
.nj-desktop.redmond7 .nj-window.nj-dialog .nj-window-content {
  border: 0 none transparent;
  background-color: transparent;
}
.nj-desktop.redmond7 .nj-window .nj-window-header {
  background-color: transparent;
  color: #323232;
  text-shadow: 0 0 2px #fff;
  padding: 2px;
}
.nj-desktop.redmond7 .nj-window .nj-window-header .nj-window-header-buttons {
  margin-top: -7px;
  margin-bottom: 7px;
  color: #000;
}
.nj-desktop.redmond7 .nj-window .nj-window-header .nj-window-header-buttons .nj-window-header-button {
  border: 1px solid #fff;
  box-shadow: 0 0 1px #000;
  position: relative;
  width: 18px;
  background-color: #0099cc;
  background-image: linear-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 100%);
  opacity: 0.8;
  height: 18px;
}
.nj-desktop.redmond7 .nj-window .nj-window-header .nj-window-header-buttons .nj-window-header-button:hover {
  opacity: 1;
  background-image: linear-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.4) 50%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.4) 100%);
  cursor: pointer;
}
.nj-desktop.redmond7 .nj-window .nj-window-header .nj-window-header-buttons .nj-window-header-button.nj-minimize::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 3px;
  left: 3px;
  border-bottom: 2px solid #fff;
  box-shadow: 0 0 1px #000;
  width: 7px;
}
.nj-desktop.redmond7 .nj-window .nj-window-header .nj-window-header-buttons .nj-window-header-button.nj-minimize:hover {
  box-shadow: 0 0 5px #0099ff;
}
.nj-desktop.redmond7 .nj-window .nj-window-header .nj-window-header-buttons .nj-window-header-button.nj-maximize::after {
  content: "";
  position: absolute;
  display: block;
  top: 3px;
  left: 3px;
  border: 2px solid #fff;
  box-shadow: 0 0 1px #000;
  width: 6px;
  height: 6px;
}
.nj-desktop.redmond7 .nj-window .nj-window-header .nj-window-header-buttons .nj-window-header-button.nj-maximize:hover {
  box-shadow: 0 0 5px #0099ff;
}
.nj-desktop.redmond7 .nj-window .nj-window-header .nj-window-header-buttons .nj-window-header-button.nj-restore::before {
  content: "";
  position: absolute;
  display: block;
  top: 6px;
  left: 2px;
  border: 1px solid #fff;
  border-top: 2px solid #fff;
  box-shadow: 0 0 1px #000;
  width: 5px;
  height: 5px;
}
.nj-desktop.redmond7 .nj-window .nj-window-header .nj-window-header-buttons .nj-window-header-button.nj-restore::after {
  content: "";
  position: absolute;
  display: block;
  top: 10px;
  margin-top: -8px;
  left: 6px;
  border: 1px solid #fff;
  border-top: 2px solid #fff;
  box-shadow: 0 0 1px #000;
  width: 5px;
  height: 5px;
}
.nj-desktop.redmond7 .nj-window .nj-window-header .nj-window-header-buttons .nj-window-header-button.nj-restore:hover {
  box-shadow: 0 0 5px #0099ff;
}
.nj-desktop.redmond7 .nj-window .nj-window-header .nj-window-header-buttons .nj-window-header-button.nj-close {
  position: relative;
  margin-left: 0;
  background-color: #ff0000;
  width: 30px;
  border-radius: 0 0 5px 0;
}
.nj-desktop.redmond7 .nj-window .nj-window-header .nj-window-header-buttons .nj-window-header-button.nj-close::before {
  left: 8px;
  top: 6px;
  position: absolute;
  display: block;
  content: "";
  height: 0;
  border-radius: 1px;
  border-top: 3px solid #fff;
  width: 12px;
  transform: rotate(-45deg);
  box-shadow: 0 0 1px #000;
}
.nj-desktop.redmond7 .nj-window .nj-window-header .nj-window-header-buttons .nj-window-header-button.nj-close::after {
  left: 8px;
  top: 6px;
  position: absolute;
  display: block;
  content: "";
  height: 0;
  border-radius: 1px;
  border-top: 3px solid #fff;
  width: 12px;
  transform: rotate(45deg);
}
.nj-desktop.redmond7 .nj-window .nj-window-header .nj-window-header-buttons .nj-window-header-button.nj-close:hover {
  background-color: #ff2900;
  box-shadow: 0 0 5px #ff0000;
}
.nj-desktop.redmond7 .nj-window .nj-window-header .nj-window-header-buttons .nj-window-header-button.nj-close:first-child {
  border-bottom-left-radius: 5px;
}
.nj-desktop.redmond7 .nj-window.focused {
  opacity: 1;
  box-shadow: 0 0 10px #000;
}
.nj-desktop.redmond7 .nj-window.focused .nj-window-header {
  color: #000;
}
.nj-desktop.redmond7 .nj-taskbar {
  background-color: rgba(0, 0, 0, 0.4);
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 1px 0, 0, 0, 0.4;
}
.nj-desktop.redmond7 .nj-taskbar .nj-toolbar {
  border-right: 0 none transparent;
}
.nj-desktop.redmond7 .nj-taskbar .nj-taskbar-button-list {
  border-left: 1px solid rgba(255, 255, 255, 0.4);
}
.nj-desktop.redmond7 .nj-taskbar .nj-taskbar-button-list .nj-taskbar-button-list-nav {
  background-color: transparent;
  color: #fff;
  border-top: 0 none transparent;
  border-bottom: 0 none transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  transition: all 0.1s ease-out;
}
.nj-desktop.redmond7 .nj-taskbar .nj-taskbar-button-list .nj-taskbar-button-list-nav:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: #000000;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 0.1s ease-in;
}
.nj-desktop.redmond7 .nj-taskbar .nj-taskbar-button-list .nj-taskbar-button-list-nav.nj-taskbar-button-list-nav-left:before {
  content: "<";
}
.nj-desktop.redmond7 .nj-taskbar .nj-taskbar-button-list .nj-taskbar-button-list-nav.nj-taskbar-button-list-nav-right:before {
  content: ">";
}
.nj-desktop.redmond7 .nj-taskbar .nj-taskbar-button-list .nj-taskbar-button-list-container button {
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: transparent;
  color: #ffffff;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 0 none transparent;
  border-bottom: 0 none transparent;
  transition: all 0.1s ease-out;
}
.nj-desktop.redmond7 .nj-taskbar .nj-taskbar-button-list .nj-taskbar-button-list-container button.focused {
  background-color: rgba(255, 255, 255, 0.2);
  color: #000000;
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  transition: all 0.1s ease-in;
}
.nj-desktop.redmond7 .nj-taskbar .nj-taskbar-button-list .nj-taskbar-button-list-container button:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: #000000;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 0.1s ease-in;
}
.nj-desktop.redmond7 .nj-toolbar .nj-tool-button {
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid transparent;
  background-color: transparent;
  border-radius: 3px;
  margin: 1px;
  transition: all 0.1s ease-out;
  color: #000;
}
.nj-desktop.redmond7 .nj-toolbar .nj-tool-button.nj-toolbutton-text {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.nj-desktop.redmond7 .nj-toolbar .nj-tool-button.nj-toolbutton-icon {
  color: transparent;
}
.nj-desktop.redmond7 .nj-toolbar .nj-tool-button:hover {
  border: 1px solid rgba(127, 127, 127, 0.5);
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.1s ease-in;
}
.nj-desktop.redmond7 .nj-toolbar .nj-tool-button:active {
  box-shadow: inset 0 0 2px #000;
}
.nj-desktop.redmond7 .nj-menu {
  background-color: transparent;
}
.nj-desktop.redmond7 .nj-menu > .nj-menu-item {
  height: 30px;
}
.nj-desktop.redmond7 .nj-menu > .nj-menu-item > button {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 3px;
  height: 30px;
}
.nj-desktop.redmond7 .nj-menu > .nj-menu-item > button .nj-menu-icon {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.nj-desktop.redmond7 .nj-menu > .nj-menu-item > button:active {
  border: 1px solid transparent !important;
  box-shadow: inset 0 0 2px #000;
}
.nj-desktop.redmond7 .nj-menu > .nj-menu-item:hover > button {
  border: 1px solid transparent;
  border: 1px solid rgba(127, 127, 127, 0.5);
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.1s ease-in;
}
.nj-desktop.redmond7 .nj-menu > .nj-menu-item .nj-menu {
  border: 1px solid #999999;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  background-color: #cccccc;
}
.nj-desktop.redmond7 .nj-menu > .nj-menu-item .nj-menu .nj-menu-item .nj-menu-icon {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.nj-desktop.redmond7 .nj-menu > .nj-menu-item .nj-menu .nj-menu-item > button:active {
  border: 1px inset;
}
.nj-desktop.redmond7 .nj-menu > .nj-menu-item .nj-menu .nj-menu-item.has-children > button:after {
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.nj-desktop.redmond7 .nj-menu > .nj-menu-item .nj-menu .nj-menu-item:hover > button {
  border: 1px solid #006699;
  background-color: transparent;
  background-image: linear-gradient(rgba(0, 85, 164, 0.2) 0, rgba(255, 255, 255, 0.4) 50%, rgba(0, 85, 164, 0.3) 50%, rgba(0, 85, 164, 0.4) 100%);
  color: #000;
}
.nj-desktop.redmond7 .nj-menu > .nj-menu-item .nj-menu .nj-menu-item .nj-menu {
  border: 1px solid #999999;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
.nj-desktop.redmond7 .nj-icon-list {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}
.nj-desktop.redmond7 .nj-icon-list .nj-icon {
  border: 2px solid transparent;
  border-radius: 4px;
  transition: all 0.1s ease-in-out;
}
.nj-desktop.redmond7 .nj-icon-list .nj-icon:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.3);
}
.nj-desktop.redmond7 .nj-icon-list .nj-icon.nj-selected {
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.5);
}
.nj-desktop.redmond7 .nj-icon-list .nj-icon.nj-selected .nj-icon-text {
  outline: none;
  background-color: transparent;
  color: #000;
}
.nj-desktop.redmond7 .nj-window .nj-window-content .nj-icon-list .nj-icon:hover {
  border: 2px solid rgba(0, 102, 153, 0.2) !important;
  background-color: transparent !important;
  background-image: linear-gradient(rgba(0, 85, 164, 0.1) 0, rgba(0, 85, 164, 0.2) 100%) !important;
  color: #000;
}
.nj-desktop.redmond7 .nj-window .nj-window-content .nj-icon-list .nj-icon.nj-selected {
  border: 2px solid #006699 !important;
  background-color: transparent !important;
  background-image: linear-gradient(rgba(0, 85, 164, 0.2) 0, rgba(0, 85, 164, 0.4) 100%) !important;
  color: #000;
}
.nj-desktop.redmond7 .nj-window .nj-window-content .nj-icon-list .nj-icon.nj-selected .nj-icon-text .tile-info {
  color: rgba(0, 0, 0, 0.6);
}

/*# sourceMappingURL=njDesktop.css.map */
