.nj-desktop {
  position: relative;
  display: flex;
  flex-direction: column; }
  .nj-desktop .nj-desktop-window-container {
    position: relative;
    flex: 1 1 0;
    overflow: hidden; }

.nj-desktop .nj-window {
  position: absolute;
  display: flex;
  flex-direction: column;
  box-sizing: border-box; }
  .nj-desktop .nj-window.nj-maximized {
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important; }
  .nj-desktop .nj-window.nj-minimized {
    top: 100% !important;
    left: 0 !important;
    bottom: 0 !important;
    width: 0 !important;
    height: 0 !important;
    overflow: hidden !important; }

.nj-desktop .nj-window .nj-window-header {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: space-between; }

.nj-desktop .nj-window .nj-window-header .nj-window-header-buttons {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto; }
  .nj-desktop .nj-window .nj-window-header .nj-window-header-buttons .nj-window-header-button {
    display: block; }
    .nj-desktop .nj-window .nj-window-header .nj-window-header-buttons .nj-window-header-button.nj-hidden {
      display: none; }

.nj-desktop .nj-taskbar {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  height: 30px; }
  .nj-desktop .nj-taskbar .nj-taskbar-button-list {
    position: relative;
    flex: 1 1 0; }
    .nj-desktop .nj-taskbar .nj-taskbar-button-list .nj-taskbar-button-list-nav {
      flex: 0 0 30px;
      height: 30px;
      width: 30px;
      position: absolute; }
      .nj-desktop .nj-taskbar .nj-taskbar-button-list .nj-taskbar-button-list-nav.nj-taskbar-button-list-nav-left {
        left: 0;
        top: 0; }
      .nj-desktop .nj-taskbar .nj-taskbar-button-list .nj-taskbar-button-list-nav.nj-taskbar-button-list-nav-right {
        right: 0;
        top: 0; }
    .nj-desktop .nj-taskbar .nj-taskbar-button-list .nj-taskbar-button-list-container {
      padding: 0 30px;
      white-space: nowrap;
      overflow: hidden;
      width: 100vw;
      box-sizing: border-box; }
      .nj-desktop .nj-taskbar .nj-taskbar-button-list .nj-taskbar-button-list-container button {
        height: 30px; }

.nj-desktop .nj-window {
  border: 1px solid #000;
  background-color: #cccccc;
  color: #000;
  padding: 2px;
  transition: left .1s ease-out, top .1s ease-out, width .1s ease-out, height .1s ease-out, bottom .1s ease-out; }
  .nj-desktop .nj-window.nj-maximized {
    transition: left .1s ease-in, top .1s ease-in, width .1s ease-in, height .1s ease-in; }
  .nj-desktop .nj-window.nj-minimized {
    transition: left .1s ease-in, top .1s ease-in, bottom .1s ease-in, width .1s ease-in, height .1s ease-in; }
  .nj-desktop .nj-window .nj-window-header {
    background-color: #999999;
    color: #fff;
    padding: 2px; }
    .nj-desktop .nj-window .nj-window-header .nj-window-header-buttons {
      background-color: #cccccc;
      color: #000; }
      .nj-desktop .nj-window .nj-window-header .nj-window-header-buttons .nj-window-header-button {
        border: 1px solid #000;
        position: relative;
        width: 18px; }
        .nj-desktop .nj-window .nj-window-header .nj-window-header-buttons .nj-window-header-button.nj-minimize::after {
          content: '';
          position: absolute;
          display: block;
          bottom: 3px;
          left: 3px;
          border-bottom: 2px solid #000;
          width: 10px; }
        .nj-desktop .nj-window .nj-window-header .nj-window-header-buttons .nj-window-header-button.nj-maximize::after {
          content: '';
          position: absolute;
          display: block;
          top: 2px;
          left: 2px;
          border: 1px solid #000;
          border-top: 2px solid #000;
          width: 10px;
          height: 10px; }
        .nj-desktop .nj-window .nj-window-header .nj-window-header-buttons .nj-window-header-button.nj-restore::before {
          content: '';
          position: absolute;
          display: block;
          top: 2px;
          left: 2px;
          border: 1px solid #000;
          border-top: 2px solid #000;
          width: 5px;
          height: 5px; }
        .nj-desktop .nj-window .nj-window-header .nj-window-header-buttons .nj-window-header-button.nj-restore::after {
          content: '';
          position: absolute;
          display: block;
          top: 6px;
          left: 6px;
          border: 1px solid #000;
          border-top: 2px solid #000;
          width: 5px;
          height: 5px; }
  .nj-desktop .nj-window.focused .nj-window-header {
    background-color: #0000ff; }

.nj-desktop .nj-taskbar {
  background-color: #cccccc;
  border-top: 1px solid #000000; }
  .nj-desktop .nj-taskbar .nj-taskbar-button-list .nj-taskbar-button-list-nav.nj-taskbar-button-list-nav-left:before {
    content: "<"; }
  .nj-desktop .nj-taskbar .nj-taskbar-button-list .nj-taskbar-button-list-nav.nj-taskbar-button-list-nav-right:before {
    content: ">"; }
  .nj-desktop .nj-taskbar .nj-taskbar-button-list .nj-taskbar-button-list-container button {
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis; }
    .nj-desktop .nj-taskbar .nj-taskbar-button-list .nj-taskbar-button-list-container button.focused {
      background-color: #999999;
      color: #000000; }
