.nj-desktop {
    background-color: #00bbcc;
    .nj-window {
        border: 2px outset ;
        background-color: #cccccc;
        color: #000;
        padding: 2px;
        font-family: arial, helvetica, sans-serif;
        font-size: 14px;

        transition: left .1s ease-out, top .1s ease-out, width .1s ease-out, height .1s ease-out, bottom .1s ease-out, transform .1s ease-in;

        &.nj-maximized {
            transition: left .1s ease-in, top .1s ease-in, width .1s ease-in, height .1s ease-in, transform .1s ease-in;
            border: 0 none transparent;
        }

        &.nj-minimized {
            transition: left .1s ease-in, top .1s ease-in, bottom .1s ease-in, width .1s ease-in, height .1s ease-in, transform .1s ease-in;
        }

        &.moving {
            transition: left .1s ease-out, top .1s ease-out, width .1s ease-out, height .1s ease-out, bottom .1s ease-out;
        }

        &.resizing {
            transition: none;
        }

        .nj-window-header {
            background-color: #999999;
            color: #fff;
            padding: 2px;

            .nj-window-header-buttons {
                .nj-window-header-button {
                    border: 1px outset;
                    position: relative;
                    width: 18px;
                    height: 18px;
                    background-color: #cccccc;
                    color: #000;    

                    &:active {
                        border: 1px inset;
                    }    

                    &.nj-minimize::after {
                        content: '';
                        position: absolute;
                        display: block;
                        bottom: 3px;
                        left: 3px;
                        border-bottom: 2px solid #000;
                        width: 10px;
                    }

                    &.nj-maximize::after {
                        content: '';
                        position: absolute;
                        display: block;
                        top: 2px;
                        left: 2px;
                        border: 1px solid #000;
                        border-top: 2px solid #000;
                        width: 10px;
                        height: 10px;
                    }
                    &.nj-restore::before {
                        content: '';
                        position: absolute;
                        display: block;
                        top: 2px;
                        left: 2px;
                        border: 1px solid #000;
                        border-top: 2px solid #000;
                        width: 5px;
                        height: 5px;
                    }
                    &.nj-restore::after {
                        content: '';
                        position: absolute;
                        display: block;
                        top: 6px;
                        left: 6px;
                        border: 1px solid #000;
                        border-top: 2px solid #000;
                        width: 5px;
                        height: 5px;
                    }

                    &.nj-close{
                        margin-left: 2px;
                        &::before {
                            left: 1px;
                            top: 7px;
                            position: absolute;
                            display: block;
                            content: "";
                            height: 0;
                            border-radius: 1px;
                            border-top: 2px solid #000;
                            width: 14px;
                            transform: rotate(-45deg);
                        }

                        &::after {
                            left: 1px;
                            top: 7px;
                            position: absolute;
                            display: block;
                            content: "";
                            height: 0;
                            border-radius: 1px;                            
                            border-top: 2px solid #000;
                            width: 14px;
                            transform: rotate(45deg);
                        }                    
                    }
                }
            }
        }

        &.focused {
            .nj-window-header {
                background-color: #0000ff;
            }
        }
    }

    .nj-taskbar {
        background-color: #cccccc;
        border-top: 2px outset;
        .nj-toolbar {
            border-right: 1px outset;
        }
        .nj-taskbar-button-list {
            border-left: 1px outset;
            .nj-taskbar-button-list-nav {
                border: 1px solid transparent;

                &:hover {
                    border: 1px outset;
                }

                &:active {
                    border: 1px inset;
                }

                &.nj-taskbar-button-list-nav-left {
                    &:before {
                        content: "<";
                    }
                }
                &.nj-taskbar-button-list-nav-right {
                    &:before {
                        content: ">";
                    }
                }
            }
            .nj-taskbar-button-list-container{

                button {
                    width: 150px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    border: 2px outset;

                    &.focused {
                        border: 2px inset;
                        background-color: #999999;
                        color: #000000;
                    }

                    &:active {
                        border: 2px inset;
                        background-color: inherit;
                    }
    
                }
            }
        }
    }

    .nj-toolbar {
        .nj-tool-button {
            overflow: hidden;
            text-overflow: ellipsis;
            border: 1px solid transparent;

            &.nj-tool-button-text {
                max-width: 100px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            &:hover {
                border: 1px outset;
            }

            &:active {
                border: 1px inset;
                background-color: inherit;
            }

        }        
    }
}