.nj-desktop {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    .nj-desktop-top {
        z-index: 2;
        display: flex;
        align-items: center;

        .nj-menu {
            flex: 1 1 0;
        }
    }
    .nj-desktop-window-container {
        position: relative;
        flex: 1 1 0;
        overflow: hidden;
        z-index: 1;
    }

    .nj-hidden {
        display: none;
    }
}