.nj-desktop {
    .nj-window {
        .nj-window-header {
            .nj-window-header-buttons {
                display: flex;
                flex-direction: row;
                flex: 0 0 auto;

                .nj-window-header-button {
                    display: block;

                    &.nj-hidden {
                        display: none;
                    }
                }
            }
        }
    }
}