.nj-menu {
    button {
        position: relative;
        .nj-menu-icon {
            display: inline-block;
            position: absolute;
            left: 0;
            top: 0;
            background-position: center center;
            background-repeat: no-repeat;
        }

        .nj-menu-text {
            display: block;
        }

        &.text {
            .nj-menu-icon {
                display: none;
            }
        }
    }

    > .nj-menu-item {
        display: inline-block;
        position: relative;
        > button {
            display: block;
            white-space: nowrap;
            &:active {

            }
        }

        &.has-children {
            > button {
            }
        }

        &:hover {
            > button {

            }
        }
        .nj-menu {
            display: none;
            position: absolute;
            left: 0;
            top: 100%;
            .nj-menu-item {
                display: block;
                position: relative;
                > button {
                    display: block;
                    min-width: 150px;
                    white-space: nowrap;
                    text-align: left;
                    &:active {

                    }        
                }
    
                &.has-children {
                    > button {
                        position: relative;
                        &:after {
                            position: absolute;
                            right: 0;
                            top: 0;
                            display: block;
                            text-align: center;
                            content: "\25B6";
                        }                                
                    }
                }

                .nj-menu {
                    position: absolute;
                    left: 100%;
                    top: 0;
                    display: none;
                }

                &.low {
                    .nj-menu {
                        top: auto;
                        bottom: 0;
                    }
                }

                &:hover {
                    > button {

                    }

                    .nj-menu {
                        display: block;
                    }
                }
            }
        }

        &.low {
            > .nj-menu {
                top: auto;
                bottom: 100%;
            }
        }

        &:hover {
            .nj-menu {
                display: block;
            }
        }
    }
}

.nj-toolbar {
    .nj-menu {
        display: inline-block;
    }
}