.nj-desktop {
    .nj-taskbar {
        flex: 0 0 auto;
        display: flex;
        flex-direction: row;
        height: 30px;
        .nj-toolbar {
            flex: 0 0 auto;
            display: flex;
        }
        .nj-taskbar-button-list {
            flex: 1 1 0;
            position: relative;
            min-width: 0;
            .nj-taskbar-button-list-nav {
                flex: 0 0 30px;
                height: 30px;
                width: 30px;
                position: absolute;
                &.nj-taskbar-button-list-nav-left {
                    left: 0;
                    top: 0;
                }
                &.nj-taskbar-button-list-nav-right {
                    right: 0;
                    top: 0;
                }
            }
            .nj-taskbar-button-list-container {
                margin: 0 30px;                
                white-space: nowrap;
                overflow: hidden;
                box-sizing: border-box;
                width: calc(100% - 60px);

                button {
                    height: 30px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}