.nj-desktop {
    .nj-toolbar {
        .nj-tool-button {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100px;
            user-select: none;
        }
    }
}