.nj-desktop {
    .nj-window {
        .nj-window-footer {
            display: flex;

            .window-footer-pane {
                flex: 0 0 auto;
                min-width: 100px;
                height: 20px;
                padding: 0 5px;
                margin: 2px;
                box-sizing: border-box;
                display: flex;
                flex-direction: row;

                .window-footer-icon {
                    width: 20px;
                    height: 20px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                    display: inline-block;
                }
            }
        }
    }
}