.nj-desktop {
    .nj-window {
        position: absolute;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;

        .nj-menu-container {
            z-index: 4;
        }

        .nj-toolbar-container {
            z-index: 3;
        }

        .nj-window-content {
            z-index: 1;
            flex: 1 1 0;
            overflow: auto;
        }

        &.nj-maximized {
            left: 0 !important;
            top: 0 !important;
            width: 100% !important;
            height: 100% !important;
            transform: none !important;
        }

        &.nj-minimized {
            top: 100vh !important;
            left: 0 !important;
            width: 0 !important;
            height: 0 !important;
            overflow: hidden !important;
            transform: none !important;
        }

        .nj-toolbar-container {
            flex: 0 0 auto;
        }
    }
}